.dashboard {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  background-color: #f5f7fa;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.dashboard h1 {
  color:white;
  margin-bottom: 25px;
  font-size: 32px;
}

.dashboard h2 {
  color:rgb(41, 39, 39);
  margin-top: 25px;
  margin-bottom: 10px;
}

.dashboard p {
  color:white;
  font-size: 17px;
  line-height: 1.6;
  text-align: justify;
  padding: 0 20px;
}